html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima del 100% del viewport */
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header nav {
    max-width: 1000px;
    margin: 0 auto;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav ul li a:hover,
header nav ul li a:focus {
    color: #ddd;
}

/* Estilos responsivos para el menú */
@media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }
}

main {
    flex: 1; /* Permite que main crezca y ocupe el espacio disponible */
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

.carousel-item video {
    max-height: 500px; /* Ajusta esto según tus necesidades */
    width: 100%;
}

/* Estilos personalizados para los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Cambia el color según tu diseño */
    border-radius: 50%;
    padding: 10px;
}
